@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

body h1 {
    text-align: center;
    padding-top: 50px;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    width: 400px;
    height: 60px;
}

section {
    width: 400px;
    height: 170px;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
}

section div {
    padding-left: 5px;
}

section div > input#n1 {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.356);
    height: 50px;
    height: 17px;
    font-weight: bold;
}

section div > input#n2 {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    height: 50px;
    height: 17px;
    font-weight: bold;
}

section div > input#andre {
    cursor: pointer;
    width: 80px;
    height: 50px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgb(1, 189, 1);
    font-weight: normal;
    color: white;
    font-size: 1.0em;
}

section div p#res {
    font-weight: bolder;
    margin-top: 15px;
}

div > input#andre:hover {
    background-color: green;
}